<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="{{ url_for('static',filename='styles/reset.css') }}" type="text/css" rel="stylesheet" /> 
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/stylesheet.css') }}" />
    </head>
<header>
    <a href='/newpost' class='nav_button'>New Post</a>
    <a href='/blog' class='nav_button'>View All Posts</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
    {% endwith %}
</header>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>