{% extends "base.html" %} 

{% block content %}
       
        <h1 id='page_title'>Blogs</h1>
        <hr>
            {% for post in posts %}
                <div id='blog_post'>    
                   <h2> <a href='/blog?id={{post.id}}' id='blog_title'>{{post.title}}</a></h2>
                    <p id='blog_body'>{{post.body}}</p>
                    
                       
                            <p id='written_by'>Written by <a href='/blog?user={{post.owner_id}}'>{{post.owner}}</a></p>

                </div>
                <hr>    
        {% endfor %}
{% endblock %}
