{% extends "base.html" %}

{% block content %}
    <h1 id='page_title'>New Blog Post</h1>

    <hr>

        <form method='POST' action='/newpost'>
        <table>
            <tr>
                <td><label>
                    New Post:
                    <input type="text" name="title" />
            </label></td>
            </tr>
            <tr>
                <td><label>
                    Post Body:
                    <textarea rows="8" cols="40" name="body"></textarea>
                </label></td>
            </tr>
        </table>
            <input type="submit" value="Add post!" />
        </form>

    
{% endblock %}
            