#viewpost_title {
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

div {
    text-align: center;
}

#blog_title {
    font-size: 20px;
}

#blog_post {
    text-align: center;
}

#written_by {
    font-style: italic;
    font-size: 15px;
}